<p id="notice"><%= notice %></p>

<header class="masthead" style="background-image:url(asset_path('home-bg.jpg'));">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading">
                        <h1>A Blog on Rails</h1><span class="subheading">A Rails Project mixed with Bootstrap</span></div>
                </div>
            </div>
        </div>
    </header>

<h1>Blog Posts</h1>
  <div class="row">
    <% @blog_posts.each do |blog_post| %>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= link_to blog_post.title, blog_post %>
          </div>
          <div class="panel-body">
            <p>by <strong><%= link_to blog_post.user.username, user_posts_path(id: blog_post.user.id) %></strong><br />
            <span class="posted-at">posted at: <%= blog_post.created_at.strftime('%m/%d/%Y at %I:%M%p') %></span></p>
            <p><%= blog_post.blog_entry[0..250] %>...[<%= link_to "Read More", blog_post %>]</p>
          </div>
        <% if current_user.id == blog_post.user.id %>
          <div class="panel-footer">
            <%= link_to 'Edit', edit_blog_post_path(blog_post), class: "btn btn-warning" %>
            <%= link_to 'Destroy', blog_post, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
  </div>
<br>

<%= link_to 'New Blog post', new_blog_post_path %>
